body {
    background-color: #0c120c;
    background-image: url("spanishred.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECEBF3;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
/* mobile version first */
main {
    height: 700px;
    width: 85%;
    background-color: black;
    border-radius: 5px;
    margin-top: 5%;
    box-shadow: 2px 2px 41px 5px rgba(0,0,0,0.75);
}
header {
    display: flex; 
    justify-content: space-between;
}
@media screen and (min-width: 600px) {
    main {
        height: 900px;
        width: 80%;
    }
}